{% extends "blog/base.html" %}

{% block title %}Mein Blog{% endblock %}

{% block content %}
    <h1>Mein Blog</h1>
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h2>
        <p class="date">
            Veröffentlicht am {{ post.published_at }} von {{ post.author }}
        </p>
        <p>{{ post.content|truncatewords:30|linebreaks }}</p>
    {% endfor %}
    # pagination include
    {% include "pagination.html" with page=page_obj %}
{% endblock %}